<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial | Page WEB | Copyright</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="https://www.fronteditor.dev/assets/favicon.4b33a4df.svg" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css">
</head>
<body>

    <div class="app">
        <h1>Hello World!</h1>

        <a href="https://www.google.com.br">Vá para á pagina da Google</a>

        <a href="/user/local">USUARIO DO LOCAL LINK ROTA</a>

        <div>
            <p><a href="/usuario/cadastramento">Cadastrar usuário</a></p>
        </div>


        <%- include('../partials/footer') %>
    </div>
    
</body>
</html>